# Test Pandas

## Install pandas

In [4]:
!py -m  pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\utente\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\utente\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\utente\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp313-cp313-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.5 MB 3.5 MB/s eta 0:00:04
   ---- ----------------------------------- 1.3/11.5 MB 3.6 MB/s eta 0:00:03
   ------- -------------------------------- 2.1/11.5 MB 3.8 MB/s eta 0:00:03
   ---------- ----------------------------- 2.9/11.5 MB 3.8 MB/s eta 0:00:03
   ------------ --------------------------- 3.7/11.5 MB 3.8 MB/s eta 0:00:03
   --------------- ------------------------ 4.5/11.5 MB 3.9 MB/s eta 0:00:02
   ------------------ --------------------- 5.2/11.5 MB 3.8 MB/s eta 0:00:02
   --------------------- ------------------ 6.0/11.5 MB 3.9 MB/s eta 0:00:02
   ----------------------- ---------------- 6.8/11.5 MB 3.9 MB/s eta 0:00:02
   -------------------------- ------------- 7.6/11.5 MB 3.8 MB/s eta 0:00:02
   ---------------------------- ----------- 8.1/11.5 MB 3.8 MB/s eta 0:00:01
   ------------------------------ --------- 8.7/11.5 MB 3.8 MB/s eta 0:00:01
   --------------------------------- ------ 9.7/11.5 MB 3.7 MB/s eta 0:00:01
   ------------------------------------ --- 10.5/11.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------  11.3/11.5 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 3.2 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [ ]:


# Import pandas
import pandas as pd
import random
import numpy as np

file_path = "C:/Users/Utente/Documents/GitHub/esercizi/2024.11.18/ex1.csv"

# Load data from csv file
df = pd.read_csv(file_path)

# Print the first 5 rows of the dataframe
print(df.head())

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [14]:
dict_ = {"year":[2000,2001,2002,2003],
         "state":["Ohio", "Ohio","Nevada","Nebraska"],
          "price":[415,61,55,155] }

In [15]:
print(dict_)

{'year': [2000, 2001, 2002, 2003], 'state': ['Ohio', 'Ohio', 'Nevada', 'Nebraska'], 'price': [415, 61, 55, 155]}

In [18]:
df = pd.DataFrame(dict_)
df.head()

   year     state  price
0  2000      Ohio    415
1  2001      Ohio     61
2  2002    Nevada     55
3  2003  Nebraska    155

In [21]:
pd.Series(random.randint(0, 100, size=len(df)))

TypeError: Random.randint() got an unexpected keyword argument 'size'

In [25]:
print(pd.Series(random.randint(0, 100, 10)))

TypeError: Random.randint() takes 3 positional arguments but 4 were given

In [28]:
obj3 = pd.Series(["blue","purple","yellow"], index=[0, 2, 4])

In [31]:
obj3.reindex(np.arange(6), method="ffill")

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [32]:
obj4 = pd.Series(np.random.randint(0,100,15))

In [43]:
indici_null = np.random.randint(0,14,3)
obj4[indici_null] = np.nan

In [45]:
print(obj4)

0     67.0
1     67.0
2     48.0
3     48.0
4      NaN
5     58.0
6     50.0
7      NaN
8      NaN
9      7.0
10    97.0
11    61.0
12    10.0
13    49.0
14    95.0
dtype: float64

In [41]:
# fill the NaN values with ffill method

obj4 = obj4.fillna(method="ffill")

C:\Users\Utente\AppData\Local\Temp\ipykernel_10120\970321725.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  obj4 = obj4.fillna(method="ffill")

In [42]:
obj4

0     67.0
1     67.0
2     48.0
3     48.0
4     90.0
5     58.0
6     50.0
7     60.0
8     60.0
9      7.0
10    97.0
11    61.0
12    10.0
13    49.0
14    95.0
dtype: float64

In [46]:
obj4.ffill()

0     67.0
1     67.0
2     48.0
3     48.0
4     48.0
5     58.0
6     50.0
7     50.0
8     50.0
9      7.0
10    97.0
11    61.0
12    10.0
13    49.0
14    95.0
dtype: float64

In [47]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]], index=["a", "b", "c", "d"], columns=["one", "two"])

In [48]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [51]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [50]:
df.sum(axis="columns")

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [52]:
df.sum(axis="columns", skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

In [55]:
df.idxmax()

one    b
two    d
dtype: object

In [56]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000